


.shop {
    padding:  0px 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 3em;
}

.card{
    border : solid lightgray 2px;
    display: block;
    max-width: 400px;
    border-radius: 3%;
}

@media only screen and (min-width: 500px){
    .card{
        margin-top: 1em;
    }
    
    .shop{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px){
    .shop{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


