
<img class = "item-image" src={{item.pic}}>
<div class="info-text">
    <h3>{{item.name}}</h3>
    <p>${{item.price.toFixed(2)}}</p>
</div>

<ng-container
  *ngIf="!itemInCart(item); then notInCart ; else InCart">
</ng-container>

<ng-template #notInCart>
    <button (click)="addToCart(item)" class = "add-to-cart">Add to Cart</button>
</ng-template>

<ng-template #InCart>
    <app-add-remove-button class="added-to-cart" 
    [item] ="item"
    [amount] = "itemInCart(item).amount"
    >
    </app-add-remove-button>
</ng-template>
